<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.shf.app39_service">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.App39_Service">
        <activity
                android:name=".BankBossActivity"
                android:exported="true"/>
        <activity
                android:name=".BankWorkerActivity"
                android:exported="true"/>
        <activity
                android:name=".NormalUserActivity"
                android:exported="true"/>
        <activity
                android:name=".BankActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
                android:name=".BankService"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="com.shf.ACTION_NORMAL_USER"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.shf.ACTION_NORMAL_WORKER"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.shf.ACTION_NORMAL_BOSS"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <service
                android:name=".FirstService"
                android:enabled="true"
                android:exported="true">
        </service>

        <activity
                android:name=".MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>