<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.shf.app38_broadcast">

    <uses-permission android:name="com.shf.app37_broadcast.ORDER_PERMISSION"/>
    
    <permission android:name="com.shf.app38_broadcast.WHO_CAN_SEND_2_ME"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.App38_BroadCast">
        <receiver
                android:permission="com.shf.app38_broadcast.WHO_CAN_SEND_2_ME"
                android:name=".OrderBroadCastReceiver"
                android:enabled="true"
                android:exported="true">
        </receiver>

        <activity
                android:name=".MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>